* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: lightgrey;
}

.game-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    width: fit-content;
    border: solid 5px black;
}

.row {
    display: flex;
}

.space {
    height: 75px;
    width: 75px;
    border: solid 3px;
}

.space-blue {
    background-color: #3A8891;
    border-color: #3A8891;
}

.space-white {
    background-color: #E2DCC8;
    border-color: #E2DCC8;
}

img {
    width: 100%;
    height: 100%;
}