@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: #222222;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}

header {
    padding: 1.5em;
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

h1 {
    font-size: 1.5rem;
}

main {
    position: relative;
}

.game-container {
    width: fit-content;
    margin: 0 auto;
}

.player-info {
    display: flex;
    gap: 1em;
    background-color: #73777B;
    border-radius: 8px;
    border: solid 2px #73777B;
    padding: 0.7em;
    color: white;
}

.player-info.active {
    border-color: #E3FDFD;
}

.player-info.winner {
    border-color: #FAC213;
}

.player-info > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.15em 0;
}

.player-icon {
    background-color: white;
    border-radius: 8px;
    padding: 0.5em;
}

.winner > .player-icon {
    background-color: #FAC213;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button i {
    color: #3A8891;
}

#undo-button {
    transition: ease-in 0.5s;
}

#undo-button:hover {
    transform: rotate(-100deg);
}

.pieces-taken {
    display: flex;
    align-items: center;
}

.pieces-taken img {
    width: 25px;
}

.board {
    border-radius: 8px;
    overflow: hidden;
    margin: 0.75em auto;
}

.row {
    display: flex;
}

.space {
    height: 50px;
    width: 50px;
    position: relative;
}

.space-overlay {
    position: absolute;
    z-index: 5;
}

.space-overlay-selected {
    background-color: rgba(255, 255, 0, 0.5);
    height: 100%;
    width: 100%;
}

.space-overlay-possible-move {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 30%;
}

.space-overlay-possible-take {
    border: solid 7px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.space-blue {
    background-color: #3A8891;
}

.space-white {
    background-color: #E3FDFD;
}

.space img {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}

/* GENERAL POPUP */
.pop-up {
    position: absolute;
    width: 400px;
    background-color: #222222;
    color: lightgrey;
    left: 0;
    right: 0;
    z-index: 30;
    border-radius: 8px;
    margin: 2em auto 0;
    padding: 2em;
    text-align: center;
}

/* INSTRUCTIONS */
.instructions > div:first-child {
    position: relative;
}

.instructions h2 {
    text-align: center;
    margin-bottom: 1em;
}

.instructions > div > p {
    font-size: 0.9rem;
    margin-bottom: 1em;
}

.instructions .images-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 1em;
}

.instructions figure {
    width: 80px;
    align-self: flex-start;
}

.instructions figure > img {
    width: 100%;
}

hr {
    color: lightgrey;
    margin-bottom: 1em;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    color: lightgrey;
    font-size: 2rem;
    padding: 0;
    line-height: 1.8rem;
}

.close-button:hover {
    color: #5fc3e5;
}

/* OVERLAY */
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(141, 141, 141, 0.9);
    z-index: 20;
}

/* GAME MODE POPUP */
.game-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    margin-top: 0;
}

.game-mode .welcome {
    margin-top: 2em;
}

.game-mode .welcome h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.game-mode .welcome h1 {
    font-size: 2.5rem;
}

.game-mode button {
    width: 200px;
    padding: 1.75em 0.5em;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.075em;
}

.game-mode .single-player {
    color: white;
    background-color: #3A8891;
}

.game-mode .single-player i {
    color: white;
}

.game-mode .two-player {
    color: #3A8891;
    background-color: white;
}

/* LEVEL SELECTOR */
.level-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.level-selector button {
    width: 150px;
    padding: 1.5em 1em;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.075em;
}

.level-selector .easy {
    background-color: green;
}

.level-selector .easy, .level-selector .easy i {
    color: white;
}

.level-selector .medium {
    background-color: yellow;
}

.level-selector .medium, .level-selector .medium i {
    color: black;
}

.level-selector .hard {
    background-color: red;
}

.level-selector .hard, .level-selector .hard i {
    color: black;
}

/* GAME OVER POPUP */
.game-over {
    border: solid 2px white;
    text-align: center;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.game-over h2 {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
}

.game-over h3 {
    margin-bottom: 1em;
    font-weight: normal;
}

.player-icons {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.play-again {
    color: white;
    background-color: #3A8891;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.5em;
    font-size: 1rem;
    border-radius: 8px;
    letter-spacing: 0.1em;
}

.play-again i {
    color: white;
}

.no-display {
    display: none;
}

@media (max-width: 400px) {
    .space {
        height: 45px;
        width: 45px;
    }

    .pop-up {
        width: 360px;
    }
}

@media (max-width: 380px) {
    .space {
        height: 40px;
        width: 40px;
    }

    .instructions {

    }
}

@media (max-height: 680px) {
    .board {
        margin: 0.5em auto;
    }

    .player-info {
        padding: 0.5em;
    }

    .player-info > div {
        padding: 0;
    }

    .player-info > img {
        padding: 0.25em;
        width: 50px;
    }

    .pieces-taken img {
        width: 20px;
    }
}