@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: #434242;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}

.game-container {
    height: 100vh;
    width: fit-content;
    padding: 0.9em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.9em;
    background-color: #222222;
}

.player-info {
    display: flex;
    gap: 1em;
    background-color: #73777B;
    border-radius: 8px;
    border: solid 2px #73777B;
    padding: 0.75em;
    color: white;
}

.player-info.active {
    border-color: #E3FDFD;
}

.player-info > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25em 0;
}

.player-info > img {
    background-color: white;
    border-radius: 8px;
    padding: 0.5em;
}

.pieces-taken {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.pieces-taken img {
    width: 30px;
}

.board {
    width: fit-content;
    border-radius: 8px;
    overflow: hidden;
}

.row {
    display: flex;
}

.space {
    height: 65px;
    width: 65px;
    position: relative;
}

.space-overlay {
    position: absolute;
    z-index: 5;
}

.space-overlay-selected {
    background-color: rgba(255, 255, 0, 0.5);
    height: 100%;
    width: 100%;
}

.space-overlay-possible-move {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 30%;
}

.space-overlay-possible-take {
    border: solid 7px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.space-blue {
    background-color: #3A8891;
}

.space-white {
    background-color: #E3FDFD;
}

.space img {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}